<mat-card class="secondary m-12" style="border: solid 1px #bdbdbd;">
    <mat-card-header class="flex justify-between">
        <mat-card-title><h1 class="text-2xl" style="color: #bdbdbd;">{{this.selected.value}}</h1></mat-card-title>
        <mat-form-field class="secondary" >
            <mat-select placeholder="Select Phase" [formControl]="selected"  [(value)]="selected">
                <mat-option value="Groups Phase">Groups Stage</mat-option>
                <mat-option value="Final Phase">Final Phase</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card-header>
    <mat-card-content>
        <app-groups-board></app-groups-board>
    </mat-card-content>
</mat-card>


