<main class="flex justify-center items-center h-screen" *ngIf="Loading < 4;else showtables;">
<div>
  <mat-spinner class="spinner" diameter="100" strokeWidth="10"></mat-spinner>
</div>

</main>
<ng-template #showtables>
<div class="w-full p-12">
<div class="grid grid-cols-1 gap-y-8 xl:grid-cols-2">
  <div class="flex justify-center" *ngIf="stats.goals.length > 0">
    <div class="table-container">
      <div class="third w-full text-center"></div>
      <app-playerstable class="stats-table" [title]="'Top Goals'" [topStats]="this.stats.goals" [displayedColumns]="['Players','Goals']"></app-playerstable></div>
  </div>
  <div class="flex justify-center" *ngIf="stats.assists.length > 0">
    <div class="table-container"><app-playerstable class="stats-table" [title]="'Top Assists'" [topStats]="this.stats.assists" [displayedColumns]="['Players','Assists']"></app-playerstable></div>
  </div>
  <div class="flex justify-center" *ngIf="stats.yellowCards.length > 0">
    <div class="table-container"><app-playerstable class="stats-table" [title]="'Most Yellow Cards'" [topStats]="this.stats.yellowCards" [displayedColumns]="['Players','Yellow Cards']"></app-playerstable></div>
  </div>
  <div class="flex justify-center" *ngIf="stats.redCards.length > 0">
    <div class="table-container"><app-playerstable class="stats-table" [title]="'Most Red Cards'" [topStats]="this.stats.redCards" [displayedColumns]="['Players','Red Cards']"></app-playerstable></div>
  </div>
</div>
</div>
</ng-template>


