<mat-card class="container secondary football-background">
  <!-- <mat-card-header class="container-header">
    <mat-card-title style="font-size: large;">Matches</mat-card-title>
    <mat-card-subtitle>Incoming Matches</mat-card-subtitle>
  </mat-card-header> -->
  <mat-card-content>
    <mat-grid-list cols="1" rowHeight="3:1">
      <mat-grid-tile *ngFor="let match of matches.response">
        <mat-card class="secondary match-card">
          <mat-card-header class="match-header primary">
            <mat-card-title>{{match.league.name}} {{match.league.season}}</mat-card-title>
            <mat-card-subtitle>{{match.league.round}}</mat-card-subtitle>
          <span class="date">{{extractDate(match.fixture.date)}}</span>
          </mat-card-header>
          <mat-card-content>
            <div class="teams">
            <div class="home-team">
              <img src="{{match.teams.home.logo}}" alt="{{match.teams.home.name}}"/>
              <h4>{{match.teams.home.name}}</h4>
            </div>
            <div class="separator">
              <h1 class="text-xl">{{match.goals.home}}-{{match.goals.away}}</h1>
              <div>
                <p>{{match.fixture.status.long}}</p>
                <mat-card *ngIf="isPlaying(match.fixture.status.short);else notPlaying" class="secondary time-card">
                  <p>{{match.fixture.status.elapsed}}'</p>
                  <mat-card-footer>
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer></mat-card>

                <ng-template #notPlaying>{{extractDate(match.fixture.date)}}</ng-template>

              </div>
            </div>
            <div class="away-team">
              <img src="{{match.teams.away.logo}}" alt="{{match.teams.away.name}}"/>
              <h4>{{match.teams.away.name}}</h4>
            </div>
          </div>
          <div>
          </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>

</mat-card>
