@import './../../styles.scss';
.spacer {
  flex: 1 1 auto;
}

.far-left {
  display: flex;
  align-items: center;
  font-size: large;
  margin-left: 0;
}

button {
  margin:0 8px;
}

.fixed-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

searchBtn{
  background-color: #757575;
  color: #bdbdbd;
}

searchBtn:hover{
  background-color: #7575;
}

searchInput{
  background-color: #757575;
  color: #bdbdbd;
}
