<mat-toolbar color="primary">
  <div class="far-left">
    <img src="./../../assets/img/afcon.png" alt="logo" height="50px" width="auto" />
</div>
  <span class="spacer"></span>
  <button mat-icon-button routerLink="/" routerLinkActive="active">
    <mat-icon>sports_soccer</mat-icon>
  </button>
  <button mat-icon-button routerLink="/stats" routerLinkActive="active">
    <mat-icon>leaderboard</mat-icon>
  </button>
  <button mat-icon-button routerLink="/stats" routerLinkActive="active">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
