<mat-toolbar color="primary" class="fixed-toolbar">
  <div class="far-left">
    <img src="./../../assets/img/afcon.png" alt="logo" class="h-14 w-auto" height="50px" width="auto" />
</div>
  <span class="spacer"></span>
  <button mat-icon-button routerLink="/" routerLinkActive="active" [ngClass]="{'accent': this.getIsHome()}">
    <mat-icon>sports_soccer</mat-icon>
  </button>
  <button mat-icon-button routerLink="/stats" routerLinkActive="active" [ngClass]="{'accent': this.getIsStats()}">
    <mat-icon>leaderboard</mat-icon>
  </button>
  <button mat-icon-button routerLink="/players" routerLinkActive="active" [ngClass]="{'accent': this.getIsPlayers()}">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
<div class="h-16 w-full"></div>
<app-infoheader [title]="this.getTitle()"></app-infoheader>
