<mat-toolbar color="primary" class="fixed-toolbar">
  <div class="far-left">
    <img src="./../../assets/img/afcon.png" alt="logo" class="h-14 w-auto" height="50px" width="auto" />
</div>
  <span class="spacer"></span>

  <mat-form-field (keydown.enter)="search()">
    <mat-label>Search</mat-label>
    <input matInput type="text" [(ngModel)]="value">
      <button matSuffix mat-icon-button aria-label="Clear" (click)="search()" >
        <mat-icon>search</mat-icon>
      </button>
  </mat-form-field>

  <button mat-icon-button routerLink="/" routerLinkActive="active" [ngClass]="{'accent': this.getIsHome()}"
  #tooltip="matTooltip"
          matTooltip="Matches"
          matTooltipPosition="below">
    <mat-icon>sports_soccer</mat-icon>
  </button>
  <button mat-icon-button routerLink="/leaderboard" routerLinkActive="active" [ngClass]="{'accent': this.getIsStats()}"
  #tooltip="matTooltip"
          matTooltip="Leaderboard"
          matTooltipPosition="below"
          >
    <mat-icon>leaderboard</mat-icon>
  </button>
  <button mat-icon-button routerLink="/players" routerLinkActive="active" [ngClass]="{'accent': this.getIsPlayers()}"
  #tooltip="matTooltip"
          matTooltip="Statistiques"
          matTooltipPosition="below"
          >
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
<div class="h-16 w-full"></div>
<app-infoheader [title]="this.getTitle()"></app-infoheader>
